<!-- Masthead
================================================== -->
<header class="jumbotron masthead">
  <div class="inner">
    <h1>RoRstrap</h1>
    <p>The simple Ruby on Rails framework to get your startup bootstrapped.</p>
    <p class="info">
      <a href="http://akshayjoshi.com/" class="btn btn-primary btn-large">Learn more</a>
      <a href="/" class="btn btn-large">Secondary action</a>
    </p>
  </div>
</header>

<hr class="soften">

<div class="marketing">
  <h1>Designed for everyone, everywhere.</h1>
  <p class="marketing-byline">Need reasons to love RoRstrap? Look no further.</p>
  <div class="row">
    <div class="span4">
      <h2>Built for and by nerds</h2>
      <p>Like you, we love building awesome products on the web. We love it so much, we decided to help people just like us do it easier, better, and faster. RoRstrap is built for you.</p>
    </div>
    <div class="span4">
      <h2>For all skill levels</h2>
      <p>RoRstrap is designed to help people of all skill levels&mdash;designer or developer, huge nerd or early beginner. Use it as a complete kit or use to start something more complex.</p>
    </div>
    <div class="span4">
      <h2>Cross-everything</h2>
      <p>RoRstrap strives to support all major browsers, tablets and phones.</p>
    </div>
  </div><!--/row-->
  <div class="row">
    <div class="span4">
      <h2>12-column grid</h2>
      <p>Grid systems aren't everything, but having a durable and flexible one at the core of your work can make development much simpler. Use the grid classes provided or roll your own.</p>
    </div>
    <div class="span4">
      <h2>Styleguide docs</h2>
      <p>Unlike other front-end toolkits, Bootstrap was designed first and foremost as a styleguide to document not only our features, but best practices and living, coded examples.</p>
    </div>
    <div class="span4">
      <h2>Built on SASS</h2>
      <p>Where vanilla CSS falters, SASS excels. Variables, nesting, operations, and mixins in SASS makes coding CSS faster and more efficient.</p>
    </div>
  </div><!--/row-->
  <div class="row">
    <div class="span6">
      <h3>HTML5</h3>
      <p>Built to support new HTML5 elements and syntax.</p>
    </div>
    <div class="span6">
      <h3>CSS3</h3>
      <p>Progressively enhanced components for ultimate style.</p>
    </div>
  </div><!--/row-->

</div><!-- /.marketing -->

<!-- Footer
================================================== -->
<footer class="footer">
  <p class="pull-right"><a href="#">Back to top</a></p>
  <p>Built by <a href="http://akshayjoshi.com" target="_blank">Akshay Joshi</a>.</p>
</footer>
